@font-face {
  font-family: "SKLorenzo-Regular";
  font-style: "normal";
  font-weight: 500;
  src: url("/public/fonts/SKLorenzo-Regular.ttf") format("truetype");
}

h1 {
  font-family: "SKLorenzo-Regular";
}

h3 {
  font-family: "SKLorenzo-Regular";
  font-size: 36px;
  line-height: 54px;
  font-weight: 500;
  font-style: normal;
}
